<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/addCustomer.css">
    </head>
    <body>
        <h1>Cập nhật thông tin</h1>
        <form class="form-addCustomer" method="POST" action="/khach-hang/{{customerDetail._id}}?_method=PUT">
            <!--Mã khách hàng-->
            <div class="form-div">
                <label for="MaKH" class="form-label">Mã khách hàng</label>
                <input value="{{customerDetail.MaKH}}" name="MaKH" type="text" class="form-control" id="MaKH" required>
            </div>

            <!--Họ khách hàng-->
            <div class="form-div">
                <label for="HoKH" class="form-label">Họ khách hàng</label>
                <input value="{{customerDetail.HoKH}}" name="HoKH" type="text" class="form-control" id="HoKH" required>
            </div>

            <!--Tên khách hàng-->
            <div class="form-div">
                <label for="TenKH" class="form-label">Tên khách hàng</label>
                <input value="{{customerDetail.TenKH}}" name="TenKH" type="text" class="form-control" id="TenKH" required>
            </div>

            <!--Email Khách hàng-->
            <div class="form-div">
                <label for="EmailLienLac" class="form-label">Email khách hàng</label>
                <input value="{{customerDetail.EmailLienLac}}" name="EmailLienLac" type="email" class="form-control" id="EmailLienLac" required>
            </div>

            <!--Địa chỉ khách hàng-->
            <div class="form-div">
                <label for="DiaChiLienLac" class="form-label">Địa chỉ khách hàng</label>
                <input value="{{customerDetail.DiaChiLienLac}}" name="DiaChiLienLac" type="text" class="form-control" id="DiaChiLienLac" required>
            </div>

            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </form>
    </body>
</html>